body {
    font-family: Open Sans, sans-serif;
    color: rgb(56, 56, 56);
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    height: 100%;
}

.container {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    justify-content: space-between;
    padding: 30px;
    display: flex;
    max-width: 85%;
    margin: 0 auto;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
}

form {
    flex: 1;
    margin-right: 35px; 
    max-width: 25%;
}

section {
    flex: 3;
    max-width: 75%;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(0, 187, 0);
    width: 100%;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

input[type="submit"]:hover {
    background-color: rgb(0, 160, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: left;
    border-bottom: 3px solid rgb(0, 139, 0);
    padding-bottom: 5px;
}

.table-container {
    overflow-x: auto; /* Přidáno pro zpracování přetečení */
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
    white-space: nowrap;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr {
    background-color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

button.zrusit {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 4px 8px; /* Zmenšeno padding */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button.zrusit:hover {
    background-color: #ff1a1a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1036px) {
    .container {
        flex-direction: column;
    }

    form, section {
        max-width: 100%;
        margin-right: 0;
    }
}
